body{
    background-color: lavender;
}
h2{
    color: midnightblue;
    text-align: center;
}
p{
    color: #0F1D26;
    text-indent: 25px;
    text-align: left;
    line-height: 1.5em;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 10px; 
    margin-left: 15px;
    margin-right: 15px;
}
.box {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    
}
.image {
    display: block;
    width: 200px;
    height: 200px;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition:all .3s ease;
}
.box:hover .overlay {
    opacity: 1;
}
/* Debut*/
.overlayLeft{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #BCD3B9;
}
.box:hover .overlayLeft{
    width: 100%;
}
/* Fearless*/
.overlayTop{
    width: 100%;
    height: 0;
    top:0px;
    left:0px;
    background-color: #F3C786;
}
.box:hover .overlayTop {
   height: 100%;
}
/* SpeakNow*/
.overlayRight{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: #CEB4CF;
}
.box:hover .overlayRight {
    width: 100%;
}
/*Red*/
.overlayLeft2{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #914351;
}
.box:hover .overlayLeft2{
    width: 100%;
}
/*1989*/
.overlayRight2{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: #BFE5F8;
}
.box:hover .overlayRight2 {
    width: 100%;
}
/*Reputation*/
.overlayLeft3{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #e47a52;
}
.box:hover .overlayLeft3 {
    width: 100%;
}
/*Lover*/
.overlayRight3{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: #FBBDD6;
}
.box:hover .overlayRight3 {
    width: 100%;
}
/*Folklore*/
.overlayLeft4{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #D3D0C9;
}
.box:hover .overlayLeft4 {
    width: 100%;
}
/*Evermore*/
.overlayRight4{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: #CBB399;
}
.box:hover .overlayRight4 {
    width: 100%;
}
/*Midnights*/
.overlayRight5{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: #212844;
}
.box:hover .overlayRight5 {
    width: 100%;
}
